<div class="box">
    <form role="form" id="form-change-password">
        <div class="box-header">
            <h3 class="card-title">修改密码</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="old-password">原始密码</label>
                <input type="password" name="oldPassword" class="form-control" id="old-password" required
                       data-th-readonly="*{id != null}"
                       placeholder="请输入原始密码">
            </div>
            <div class="form-group">
                <label for="password">登录密码</label>
                <input type="password" name="password" class="form-control" id="password" required
                       placeholder="请输入新密码">
            </div>
            <div class="form-group">
                <label for="password-repeat">确认密码</label>
                <input type="password" class="form-control" id="password-repeat" required
                       placeholder="请再次输入新密码">
            </div>
        </div>
        <div class="box-footer">
            <button id="change-password" class="btn btn-primary">确认修改</button>
        </div>
    </form>
</div>
<script>
    $(function(){
        $("#change-password").click(function(){
            let $form = $("#form-change-password");
            //校验必填项
            if($form.checkForm()){
                if($("#password-repeat").val() !== $("#password").val()){
                    warn("请完善表单", "两次输入密码不一致");
                }else{
                    let oldPassword = $("#old-password").val();
                    // 校验旧密码是否正确
                    get("/manager/check-password?password=" + oldPassword,() => {
                        let password = $("#password").val();
                        put("/manager/password?password=" + password, () => {
                            success("操作成功!", "修改密码成功,请重新登录!");
                            location.href='/logout';
                        })
                    })
                    // 修改密码
                }
            }
            return false;
        })
    })
</script>